<!DOCTYPE html>
<html lang="en">

 <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mission To Mars</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Mission To Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
      </div>

    </div>
</div>

<h2>Latest Mars News</h2>
<h3>{{mars_news.headline}}</h3>
<p>{{mars_news.paragraph}}</p>

<h3>Current Mars Weather</h3>
<p>{{mars_news.weather}}</p>

<h3>Mars Facts</h3>
<p>{{mars_news.facts |safe}}</p>

<h3>Featured Image</h3>
<img src="{{mars_news.image}}" alt="featured image" height="400" width="400" />

<h3>Mars Hemispheres</h3>
<img src="{{mars_news.hemispheres}}" alt="hemispheres"/>
</body>

</html>
